.MainBlock{
    position: absolute;
    z-index: 10;
    height: 80vh;
    overflow: hidden;
}

.LockIcon{
    height: 80vh;
    width: 100vw;
    margin-left: -0.8rem;
}

.WinLose{
    height: 80vh;
}

.BonusWinner{
    height: 80vh;
    width: 100vw;
}

@media (max-width:992px){
    .BonusWinner{
        margin-left: 1rem;
        height: 90vh;
    }
}

@media (max-width: 600px){
    .LockIcon{
        margin-left: -0.5rem;
    }
}

@media (max-width: 349px){
    .LockIcon{
        margin-left: -0.4rem;
    }
}